body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 230px;
  background: #024959;
  color: white;
  padding: 1.5rem;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar li.active,
.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main {
  flex-grow: 1;
  padding: 2rem;
  background: #f5faff;
}

.summary {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  background: white;
  padding: 1rem;
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-content {
  display: flex;
  gap: 2rem;
}

.recent-transactions {
  flex: 2;
}

.recent-transactions table {
  width: 100%;
  border-collapse: collapse;
}

.recent-transactions th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.map-panel {
  flex: 1;
}

.land-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.land-button {
  padding: 0.5rem 1rem;
  background: #ff8c42;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.land-button:hover {
  background: #e5721d;
}

.land-info {
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
